<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :auth_type, style: "display: block" %>
    <%#= form.text_field :auth_type %>
    <%= form.select :auth_type, ["local", "activedirectory"].map {|e| [e, e]} %>
  </div>

  <div>
    <%= form.label :password_digest, style: "display: block" %>
    <%= form.text_field :password_digest %>
  </div>

  <div>
    <%= form.label :rolename, style: "display: block" %>
    <%#= form.text_field :rolename %>
    <%= form.select :rolename, ["user", "admin"].map {|e| [e, e]} %>
  </div>

  <div>
    <%= form.label :username_mapping, style: "display: block" %>
    <%= form.text_field :username_mapping %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
