<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Auth type:</strong>
    <%= user.auth_type %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= user.password_digest %>
  </p>

  <p>
    <strong>Username mapping:</strong>
    <%= user.username_mapping %>
  </p>

</div>
